/* 1. Author CSS */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
/* line 2, ../sass/base/_base.scss */
body {
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* line 8, ../sass/base/_base.scss */
h1 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 60px !important;
  font-weight: 700;
  font-style: italic;
}

/* line 15, ../sass/base/_base.scss */
h2 {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 42px !important;
  font-weight: 700;
}

/* line 21, ../sass/base/_base.scss */
h3 {
  color: #131230;
  font-family: "Playfair Display", serif;
  font-size: 36px !important;
  font-weight: 700;
}

/* line 27, ../sass/base/_base.scss */
h4 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px !important;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

/* line 35, ../sass/base/_base.scss */
h5 {
  color: #131230;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  font-size: 20px !important;
  font-weight: 700;
}

/* line 42, ../sass/base/_base.scss */
h6 {
  color: #ffffff;
  font-size: 16px !important;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 49, ../sass/base/_base.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 54, ../sass/base/_base.scss */
a:hover,
a:focus {
  text-decoration: none;
}

/* line 58, ../sass/base/_base.scss */
input:focus,
textarea:focus {
  outline: none;
}

/* 2. Preloader */
/* line 2, ../sass/layout/_preloader.scss */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #ffb606;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* line 31, ../sass/layout/_preloader.scss */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 5;
}
/* line 39, ../sass/layout/_preloader.scss */
.preloader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 3. Main Menu */
/* line 3, ../sass/layout/_nav.scss */
.main-menu ul {
  float: right;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 3, ../sass/layout/_nav.scss */
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 4;
    background: #f9f9ff;
    width: 100%;
    padding: 20px 20px 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 3, ../sass/layout/_nav.scss */
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 4;
    background: #f9f9ff;
    width: 100%;
    padding: 20px 20px 30px;
  }
}
@media (max-width: 575.98px) {
  /* line 3, ../sass/layout/_nav.scss */
  .main-menu ul {
    display: none;
    float: left;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 4;
    background: #f9f9ff;
    width: 100%;
    padding: 20px 20px 30px;
  }
}
/* line 38, ../sass/layout/_nav.scss */
.main-menu ul li {
  display: inline;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 38, ../sass/layout/_nav.scss */
  .main-menu ul li {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 38, ../sass/layout/_nav.scss */
  .main-menu ul li {
    display: block;
  }
}
@media (max-width: 575.98px) {
  /* line 38, ../sass/layout/_nav.scss */
  .main-menu ul li {
    display: block;
  }
}
/* line 50, ../sass/layout/_nav.scss */
.main-menu ul li a {
  color: #131230;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 15px;
}
/* line 60, ../sass/layout/_nav.scss */
.main-menu ul li:hover ul.sub-menu {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
  top: 100%;
}
/* line 66, ../sass/layout/_nav.scss */
.main-menu ul li ul.sub-menu {
  padding: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 150%;
  left: 30px;
  width: 250px;
  background: #f9f9ff;
  z-index: 2;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 77, ../sass/layout/_nav.scss */
.main-menu ul li ul.sub-menu li {
  display: block;
}
/* line 79, ../sass/layout/_nav.scss */
.main-menu ul li ul.sub-menu li a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 81, ../sass/layout/_nav.scss */
.main-menu ul li ul.sub-menu li a:hover {
  color: #ffb606;
}

/* line 92, ../sass/layout/_nav.scss */
.main-menu2 ul a {
  color: #ffffff !important;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 92, ../sass/layout/_nav.scss */
  .main-menu2 ul a {
    color: #131230 !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 92, ../sass/layout/_nav.scss */
  .main-menu2 ul a {
    color: #131230 !important;
  }
}
@media (max-width: 575.98px) {
  /* line 92, ../sass/layout/_nav.scss */
  .main-menu2 ul a {
    color: #131230 !important;
  }
}
/* line 105, ../sass/layout/_nav.scss */
.main-menu2 ul ul.sub-menu a {
  color: #131230 !important;
}
/* line 107, ../sass/layout/_nav.scss */
.main-menu2 ul ul.sub-menu a:hover {
  color: #ffb606 !important;
}

/* line 114, ../sass/layout/_nav.scss */
.custom-navbar {
  position: absolute;
  top: -47px;
  right: 15px;
  background: #ffb606;
  padding: 7px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  display: none;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 114, ../sass/layout/_nav.scss */
  .custom-navbar {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 114, ../sass/layout/_nav.scss */
  .custom-navbar {
    display: block;
  }
}
@media (max-width: 575.98px) {
  /* line 114, ../sass/layout/_nav.scss */
  .custom-navbar {
    display: block;
  }
}
/* line 133, ../sass/layout/_nav.scss */
.custom-navbar span {
  background: #ffffff;
  display: block;
  width: 30px;
  margin: 6px 0;
  height: 2px;
}

/* 4. Header */
/* line 2, ../sass/layout/_header.scss */
.header-area {
  padding: 20px 0;
  background: #ffffff;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 80%;
  z-index: 1;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  /* line 2, ../sass/layout/_header.scss */
  .header-area {
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* line 2, ../sass/layout/_header.scss */
  .header-area {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  /* line 2, ../sass/layout/_header.scss */
  .header-area {
    width: 100%;
  }
}

/* line 23, ../sass/layout/_header.scss */
.header-area2 {
  padding: 30px 0;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* 5. Banner */
/* line 2, ../sass/layout/_banner.scss */
.banner-area {
  padding: 400px 0 350px;
  background-color: #b0b0b0;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
/* line 10, ../sass/layout/_banner.scss */
.banner-area .prime-color {
  color: #ffb606;
}
/* line 13, ../sass/layout/_banner.scss */
.banner-area .style-change {
  font-style: normal;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 2, ../sass/layout/_banner.scss */
  .banner-area {
    padding: 280px 0 200px;
  }
}
@media (max-width: 575.98px) {
  /* line 2, ../sass/layout/_banner.scss */
  .banner-area {
    padding: 200px 0 140px;
  }
}

/* line 23, ../sass/layout/_banner.scss */
.banner-area2 {
  padding: 210px 0 160px;
  background-image: url("../images/about-bg.jpg");
  position: relative;
  z-index: 1;
}
/* line 28, ../sass/layout/_banner.scss */
.banner-area2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1;
}
/* line 38, ../sass/layout/_banner.scss */
.banner-area2 p {
  color: #ffffff;
}

/* line 42, ../sass/layout/_banner.scss */
.menu-bg {
  background-image: url("../images/menu-bg.jpg");
}

/* line 45, ../sass/layout/_banner.scss */
.contact-bg {
  background-image: url("../images/contact-bg.jpg");
}

/* 6. Welcome */
/* line 3, ../sass/layout/_welcome.scss */
.welcome-area .style-change {
  color: #ffb606;
  font-style: italic;
}
/* line 7, ../sass/layout/_welcome.scss */
.welcome-area .welcome-img {
  padding-left: 10%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 7, ../sass/layout/_welcome.scss */
  .welcome-area .welcome-img {
    padding: 0;
  }
}
@media (max-width: 575.98px) {
  /* line 7, ../sass/layout/_welcome.scss */
  .welcome-area .welcome-img {
    padding: 0;
  }
}
/* line 16, ../sass/layout/_welcome.scss */
.welcome-area .welcome-text {
  padding-right: 50%;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  /* line 16, ../sass/layout/_welcome.scss */
  .welcome-area .welcome-text {
    padding-right: 30%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* line 16, ../sass/layout/_welcome.scss */
  .welcome-area .welcome-text {
    padding-right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 16, ../sass/layout/_welcome.scss */
  .welcome-area .welcome-text {
    padding-right: 10%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 16, ../sass/layout/_welcome.scss */
  .welcome-area .welcome-text {
    padding: 0 5%;
  }
}
@media (max-width: 575.98px) {
  /* line 16, ../sass/layout/_welcome.scss */
  .welcome-area .welcome-text {
    padding: 0 5%;
  }
}

/* 7. Food Area */
/* line 2, ../sass/layout/_food.scss */
.food-area {
  background-image: url("../images/food-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 2, ../sass/layout/_food.scss */
  .food-area {
    background-image: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 2, ../sass/layout/_food.scss */
  .food-area {
    background-image: none;
  }
}
@media (max-width: 575.98px) {
  /* line 2, ../sass/layout/_food.scss */
  .food-area {
    background-image: none;
  }
}
/* line 16, ../sass/layout/_food.scss */
.food-area .food-img {
  overflow: hidden;
}
/* line 18, ../sass/layout/_food.scss */
.food-area .food-img img {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 22, ../sass/layout/_food.scss */
.food-area .food-content {
  padding: 30px;
  background: #f9f9ff;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 26, ../sass/layout/_food.scss */
.food-area .food-content .style-change {
  color: #ffb606;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 33, ../sass/layout/_food.scss */
.food-area .food-content p {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 39, ../sass/layout/_food.scss */
.food-area .single-food:hover img {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 42, ../sass/layout/_food.scss */
.food-area .single-food:hover .food-content {
  background: #ffb606;
}
/* line 44, ../sass/layout/_food.scss */
.food-area .single-food:hover .food-content .style-change {
  color: #131230;
}
/* line 47, ../sass/layout/_food.scss */
.food-area .single-food:hover .food-content p {
  color: #131230;
}

/* 8. Reservation */
/* line 2, ../sass/layout/_reservation.scss */
.reservation-area {
  background-image: url("../images/reservation-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* 9. Deshes */
/* line 3, ../sass/layout/_deshes.scss */
.deshes-area span {
  color: #ffb606;
}
/* line 6, ../sass/layout/_deshes.scss */
.deshes-area h1 {
  color: #131230;
  font-style: inherit;
  position: relative;
}
/* line 10, ../sass/layout/_deshes.scss */
.deshes-area h1:after {
  content: '';
  position: absolute;
  top: 45px;
  left: 90px;
  width: 200px;
  height: 1px;
  background: #131230;
}
/* line 20, ../sass/layout/_deshes.scss */
.deshes-area .style-change {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  display: block;
}
/* line 26, ../sass/layout/_deshes.scss */
.deshes-area .deshes-text {
  padding-left: 90px;
}
@media (max-width: 575.98px) {
  /* line 26, ../sass/layout/_deshes.scss */
  .deshes-area .deshes-text {
    padding-left: 0;
  }
}

/* 10. Testimonial */
/* line 2, ../sass/layout/_testimonial.scss */
.testimonial-area {
  background-image: url("../images/testimonial-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
/* line 9, ../sass/layout/_testimonial.scss */
.testimonial-area:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.8);
  z-index: -1;
}
/* line 20, ../sass/layout/_testimonial.scss */
.testimonial-area .section-top2 h3,
.testimonial-area .section-top2 p {
  color: #ffffff;
}
/* line 26, ../sass/layout/_testimonial.scss */
.testimonial-area .testimonial-slider.owl-carousel .single-slide {
  background: #ffffff;
  background-image: url("../images/quote.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 33, ../sass/layout/_testimonial.scss */
.testimonial-area .testimonial-slider.owl-carousel .single-slide h5 {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 37, ../sass/layout/_testimonial.scss */
.testimonial-area .testimonial-slider.owl-carousel .single-slide:hover h5 {
  color: #ffb606;
}
/* line 42, ../sass/layout/_testimonial.scss */
.testimonial-area .testimonial-slider.owl-carousel img {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 50, ../sass/layout/_testimonial.scss */
.testimonial-slider.owl-carousel .owl-nav {
  display: none;
}

/* line 53, ../sass/layout/_testimonial.scss */
.testimonial-slider.owl-carousel .owl-dots {
  display: block;
  position: absolute;
  bottom: -70px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 59, ../sass/layout/_testimonial.scss */
.testimonial-slider.owl-carousel .owl-dots .owl-dot {
  width: 20px;
  height: 5px;
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 7px;
}
/* line 66, ../sass/layout/_testimonial.scss */
.testimonial-slider.owl-carousel .owl-dots .owl-dot.active {
  background: #ffb606;
}

/* 11. Update */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 3, ../sass/layout/_update.scss */
  .update-area .single-food {
    width: 70%;
    margin: auto;
  }
}
/* line 8, ../sass/layout/_update.scss */
.update-area .single-food .food-content {
  padding: 40px 30px;
  background: #f9f9ff;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 14, ../sass/layout/_update.scss */
.update-area .single-food:hover .food-content {
  background: #ffffff;
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* 12. Table */
/* line 3, ../sass/layout/_table.scss */
.meal-area {
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
/* line 10, ../sass/layout/_table.scss */
.meal-area:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1;
}
/* line 21, ../sass/layout/_table.scss */
.meal-area .section-top2 h3,
.meal-area .section-top2 p {
  color: #ffffff;
}
/* line 26, ../sass/layout/_table.scss */
.meal-area .input-group {
  width: 30.33%;
  float: left;
  overflow: hidden;
  margin: 0 1.5%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 26, ../sass/layout/_table.scss */
  .meal-area .input-group {
    width: 100%;
    float: none;
  }
}
@media (max-width: 575.98px) {
  /* line 26, ../sass/layout/_table.scss */
  .meal-area .input-group {
    width: 100%;
    float: none;
  }
}
/* line 40, ../sass/layout/_table.scss */
.meal-area input {
  border-radius: 0 5px 5px 0;
  border: none;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* line 40, ../sass/layout/_table.scss */
  .meal-area input {
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 40, ../sass/layout/_table.scss */
  .meal-area input {
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 40, ../sass/layout/_table.scss */
  .meal-area input {
    width: 87%;
  }
}
@media (max-width: 575.98px) {
  /* line 40, ../sass/layout/_table.scss */
  .meal-area input {
    width: 80%;
  }
}
/* line 56, ../sass/layout/_table.scss */
.meal-area .input-group-text {
  background: #ffffff;
  padding: 14px 20px;
}
/* line 60, ../sass/layout/_table.scss */
.meal-area .table-btn {
  clear: both;
}
/* line 62, ../sass/layout/_table.scss */
.meal-area .table-btn .btn-meals-valid, .meal-area .table-btn .btn-table-valid {
  border-radius: 10px 10px 10px 10px;
}

/* line 70, ../sass/layout/_table.scss */
.table-area {
  background-image: url("../images/table-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
/* line 77, ../sass/layout/_table.scss */
.table-area:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 7, 16, 0.7);
  z-index: -1;
}
/* line 88, ../sass/layout/_table.scss */
.table-area .section-top2 h3,
.table-area .section-top2 p {
  color: #ffffff;
}
/* line 93, ../sass/layout/_table.scss */
.table-area .input-group {
  width: 30.33%;
  float: left;
  overflow: hidden;
  margin: 0 1.5%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 93, ../sass/layout/_table.scss */
  .table-area .input-group {
    width: 100%;
    float: none;
  }
}
@media (max-width: 575.98px) {
  /* line 93, ../sass/layout/_table.scss */
  .table-area .input-group {
    width: 100%;
    float: none;
  }
}
/* line 107, ../sass/layout/_table.scss */
.table-area input {
  border-radius: 0 5px 5px 0;
  border: none;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* line 107, ../sass/layout/_table.scss */
  .table-area input {
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 107, ../sass/layout/_table.scss */
  .table-area input {
    width: 70%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 107, ../sass/layout/_table.scss */
  .table-area input {
    width: 87%;
  }
}
@media (max-width: 575.98px) {
  /* line 107, ../sass/layout/_table.scss */
  .table-area input {
    width: 80%;
  }
}
/* line 123, ../sass/layout/_table.scss */
.table-area .input-group-text {
  background: #ffffff;
  padding: 14px 20px;
}
/* line 127, ../sass/layout/_table.scss */
.table-area .table-btn {
  clear: both;
}

/* 13. Footer */
/* line 2, ../sass/layout/_footer.scss */
.footer-widget {
  background: #131230;
}
/* line 4, ../sass/layout/_footer.scss */
.footer-widget .single-widget1 {
  padding-right: 30px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* line 4, ../sass/layout/_footer.scss */
  .footer-widget .single-widget1 {
    padding-right: 0;
  }
}
/* line 11, ../sass/layout/_footer.scss */
.footer-widget .single-widget h5 {
  color: #ffb606;
}
/* line 14, ../sass/layout/_footer.scss */
.footer-widget .single-widget i {
  color: inherit;
}

/* line 19, ../sass/layout/_footer.scss */
.footer-widget2 {
  background: #f9f9ff;
}
/* line 22, ../sass/layout/_footer.scss */
.footer-widget2 .single-widget h5 {
  color: #131230;
}

/* line 27, ../sass/layout/_footer.scss */
.footer-copyright {
  padding: 30px 0;
  background: #0d0d27;
  color: #ffffff;
}
/* line 31, ../sass/layout/_footer.scss */
.footer-copyright .color {
  color: #ffb606;
}
/* line 34, ../sass/layout/_footer.scss */
.footer-copyright ul {
  float: right;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 34, ../sass/layout/_footer.scss */
  .footer-copyright ul {
    float: left;
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  /* line 34, ../sass/layout/_footer.scss */
  .footer-copyright ul {
    float: left;
    margin-top: 20px;
  }
}
/* line 44, ../sass/layout/_footer.scss */
.footer-copyright ul li {
  display: inline;
  margin-left: 25px;
}
/* line 47, ../sass/layout/_footer.scss */
.footer-copyright ul li i {
  display: inline-block;
  color: #ffffff;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/* line 51, ../sass/layout/_footer.scss */
.footer-copyright ul li i:hover {
  color: #ffb606;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 56, ../sass/layout/_footer.scss */
  .footer-copyright ul .no-margin {
    margin-left: 0;
  }
}
@media (max-width: 575.98px) {
  /* line 56, ../sass/layout/_footer.scss */
  .footer-copyright ul .no-margin {
    margin-left: 0;
  }
}

/* line 66, ../sass/layout/_footer.scss */
.footer-copyright2 {
  background: #f9f9ff;
  color: inherit;
}
/* line 70, ../sass/layout/_footer.scss */
.footer-copyright2 ul i {
  color: #777777 !important;
}
/* line 72, ../sass/layout/_footer.scss */
.footer-copyright2 ul i:hover {
  color: #ffb606 !important;
}

/* 14. About */
/* 15. Food Menu */
/* 16. Blog Home */
/* line 3, ../sass/layout/_blog-home.scss */
.banner-area.blog-page a,
.banner-area.blog-page span {
  color: #ffffff;
  text-transform: capitalize;
}

/* line 10, ../sass/layout/_blog-home.scss */
.blog_categorie_area {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 14, ../sass/layout/_blog-home.scss */
.categories_post {
  position: relative;
  text-align: center;
  cursor: pointer;
}
/* line 18, ../sass/layout/_blog-home.scss */
.categories_post img {
  max-width: 100%;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /* line 18, ../sass/layout/_blog-home.scss */
  .categories_post img {
    width: 100%;
  }
}
/* line 24, ../sass/layout/_blog-home.scss */
.categories_post .categories_details {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(1, 7, 16, 0.8);
  color: #fff;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 36, ../sass/layout/_blog-home.scss */
.categories_post .categories_details h5 {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}
/* line 53, ../sass/layout/_blog-home.scss */
.categories_post .categories_details p {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0px;
}
/* line 59, ../sass/layout/_blog-home.scss */
.categories_post .categories_details .border_line {
  margin: 10px 0px;
  background: #fff;
  width: 100%;
  height: 1px;
}
/* line 67, ../sass/layout/_blog-home.scss */
.categories_post:hover .categories_details {
  background: rgba(255, 182, 6, 0.7);
}

/*============ blog_left_sidebar css ==============*/
/* line 81, ../sass/layout/_blog-home.scss */
.blog_item {
  margin-bottom: 40px;
}

/* line 84, ../sass/layout/_blog-home.scss */
.blog_info {
  padding-top: 30px;
}
/* line 86, ../sass/layout/_blog-home.scss */
.blog_info .post_tag {
  padding-bottom: 20px;
}
/* line 88, ../sass/layout/_blog-home.scss */
.blog_info .post_tag a {
  font: 300 14px/21px;
  color: #131230;
}
/* line 91, ../sass/layout/_blog-home.scss */
.blog_info .post_tag a:hover {
  color: #ffb606;
}
/* line 94, ../sass/layout/_blog-home.scss */
.blog_info .post_tag a.active {
  color: #ffb606;
}
/* line 101, ../sass/layout/_blog-home.scss */
.blog_info .blog_meta li a {
  font: 300 14px/20px;
  color: #777777;
  vertical-align: middle;
  padding-bottom: 12px;
  display: inline-block;
}
/* line 107, ../sass/layout/_blog-home.scss */
.blog_info .blog_meta li a i {
  color: #131230;
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  line-height: 20px;
  vertical-align: middle;
}
/* line 115, ../sass/layout/_blog-home.scss */
.blog_info .blog_meta li a:hover {
  color: #ffb606;
}

/* line 123, ../sass/layout/_blog-home.scss */
.blog_post img {
  max-width: 100%;
}

/* line 127, ../sass/layout/_blog-home.scss */
.blog_details {
  padding-top: 20px;
}
/* line 129, ../sass/layout/_blog-home.scss */
.blog_details h4 {
  font-size: 24px;
  line-height: 36px;
  color: #131230;
  font-weight: 600;
  transition: all 0.3s linear;
}
/* line 135, ../sass/layout/_blog-home.scss */
.blog_details h4:hover {
  color: #ffb606;
}
/* line 139, ../sass/layout/_blog-home.scss */
.blog_details p {
  margin-bottom: 26px;
}
/* line 142, ../sass/layout/_blog-home.scss */
.blog_details .template-btn {
  color: #131230 !important;
  padding: 10px 24px !important;
  background: #f9f9ff;
}
/* line 146, ../sass/layout/_blog-home.scss */
.blog_details .template-btn:hover {
  color: #ffffff !important;
  background: #ffb606;
  border: 1px solid transparent;
}

/* line 155, ../sass/layout/_blog-home.scss */
.blog_right_sidebar {
  border: 1px solid #eeeeee;
  background: #f9f9ff;
  padding: 30px;
}
/* line 159, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .widget_title {
  font-size: 18px;
  line-height: 25px;
  background: #ffb606;
  text-align: center;
  color: #fff;
  padding: 8px 0px;
  margin-bottom: 30px;
}
/* line 170, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .search_widget .input-group .form-control {
  font-size: 14px;
  line-height: 29px;
  border: 0px;
  width: 100%;
  font-weight: 300;
  color: #ffffff;
  padding-left: 20px;
  border-radius: 45px;
  z-index: 0;
  background: #ffb606;
}
/* line 181, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .search_widget .input-group .form-control:focus {
  box-shadow: none;
}
/* line 185, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .search_widget .input-group .btn-default {
  position: absolute;
  right: 20px;
  background: transparent;
  border: 0px;
  box-shadow: none;
  font-size: 14px;
  color: #ffffff;
  padding: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
/* line 200, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .author_widget {
  text-align: center;
}
/* line 202, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .author_widget h5 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  margin-top: 30px;
}
/* line 208, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .author_widget p {
  margin-bottom: 0px;
}
/* line 211, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .author_widget .social_icon {
  padding: 7px 0px 15px;
}
/* line 213, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .author_widget .social_icon a {
  font-size: 14px;
  color: #131230;
  transition: all 0.2s linear;
}
/* line 217, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .author_widget .social_icon a + a {
  margin-left: 20px;
}
/* line 220, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .author_widget .social_icon a:hover {
  color: #ffb606;
}
/* line 228, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px;
}
/* line 232, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  transition: all 0.3s linear;
}
/* line 237, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body h5:hover {
  color: #ffb606;
}
/* line 241, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 0px;
}
/* line 247, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px;
}
/* line 254, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 2px dotted #eee;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px;
}
/* line 258, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .post_category_widget .cat-list li a {
  font-size: 14px;
  line-height: 20px;
  color: #777;
}
/* line 262, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .post_category_widget .cat-list li a p {
  margin-bottom: 0px;
}
/* line 266, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .post_category_widget .cat-list li + li {
  padding-top: 15px;
}
/* line 269, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .post_category_widget .cat-list li:hover {
  border-color: #ffb606;
}
/* line 271, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .post_category_widget .cat-list li:hover a {
  color: #ffb606;
}
/* line 278, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget {
  text-align: center;
}
/* line 283, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget .form-group {
  margin-bottom: 8px;
}
/* line 286, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget .input-group-prepend {
  margin-right: -1px;
}
/* line 289, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget .input-group-text {
  background: #fff;
  border-radius: 0px;
  vertical-align: top;
  font-size: 12px;
  line-height: 36px;
  padding: 0px 0px 0px 15px;
  border: 1px solid #eeeeee;
  border-right: 0px;
}
/* line 299, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget .form-control {
  font-size: 12px;
  line-height: 24px;
  color: #cccccc;
  border: 1px solid #eeeeee;
  border-left: 0px;
  border-radius: 0px;
}
/* line 306, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget .form-control:focus {
  outline: none;
  box-shadow: none;
}
/* line 311, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget .bbtns {
  color: #fff;
  background: #ffb606;
  font-size: 12px;
  line-height: 38px;
  display: inline-block;
  font-weight: 500;
  padding: 0px 24px 0px 24px;
  border-radius: 0;
}
/* line 321, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .newsletter_widget .text-bottom {
  font-size: 12px;
}
/* line 327, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block;
}
/* line 329, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .tag_cloud_widget ul li a {
  color: #131230;
  display: inline-block;
  border: 1px solid #eee;
  background: #fff;
  padding: 5px 13px;
  margin-bottom: 8px;
  transition: all 0.3s ease 0s;
  font-size: 12px;
}
/* line 338, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .tag_cloud_widget ul li a:hover {
  background: #ffb606;
  color: #ffffff;
}
/* line 346, ../sass/layout/_blog-home.scss */
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px;
}

/* line 354, ../sass/layout/_blog-home.scss */
.blog-pagination {
  padding-top: 25px;
  padding-bottom: 95px;
}
/* line 357, ../sass/layout/_blog-home.scss */
.blog-pagination .page-link {
  border-radius: 0;
}
/* line 360, ../sass/layout/_blog-home.scss */
.blog-pagination .page-item {
  border: none;
}

/* line 365, ../sass/layout/_blog-home.scss */
.page-link {
  background: transparent;
  font-weight: 400;
}

/* line 370, ../sass/layout/_blog-home.scss */
.blog-pagination .page-item.active .page-link {
  background-color: #ffb606;
  border-color: transparent;
  color: #fff;
}

/* line 376, ../sass/layout/_blog-home.scss */
.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none;
}

/* line 387, ../sass/layout/_blog-home.scss */
.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0;
}

/* line 392, ../sass/layout/_blog-home.scss */
.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ffb606;
  border-color: #eee;
}

/* 17. Blog Details */
/* line 3, ../sass/layout/_blog-details.scss */
.single-post .social-links {
  padding-top: 10px;
}
/* line 5, ../sass/layout/_blog-details.scss */
.single-post .social-links li {
  display: inline-block;
  margin-bottom: 10px;
}
/* line 8, ../sass/layout/_blog-details.scss */
.single-post .social-links li a {
  color: #cccccc;
  padding: 7px;
  font-size: 14px;
  transition: all 0.2s linear;
}
/* line 13, ../sass/layout/_blog-details.scss */
.single-post .social-links li a:hover {
  color: #131230;
}
/* line 19, ../sass/layout/_blog-details.scss */
.single-post .blog_details {
  padding-top: 26px;
}
/* line 21, ../sass/layout/_blog-details.scss */
.single-post .blog_details p {
  margin-bottom: 10px;
}
/* line 25, ../sass/layout/_blog-details.scss */
.single-post .quotes {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 24px 35px 24px 30px;
  background-color: white;
  box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  font-size: 14px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}
/* line 36, ../sass/layout/_blog-details.scss */
.single-post .arrow {
  position: absolute;
}
/* line 38, ../sass/layout/_blog-details.scss */
.single-post .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}
/* line 44, ../sass/layout/_blog-details.scss */
.single-post .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8);
}
@media (max-width: 991px) {
  /* line 49, ../sass/layout/_blog-details.scss */
  .single-post .sidebar-widgets {
    padding-bottom: 0px;
  }
}

/* line 56, ../sass/layout/_blog-details.scss */
.comments-area {
  background: #fafaff;
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px;
}
@media (max-width: 414px) {
  /* line 56, ../sass/layout/_blog-details.scss */
  .comments-area {
    padding: 50px 8px;
  }
}
/* line 64, ../sass/layout/_blog-details.scss */
.comments-area h4 {
  text-align: center;
  margin-bottom: 50px;
  color: #131230;
  font-size: 18px;
}
/* line 70, ../sass/layout/_blog-details.scss */
.comments-area h5 {
  font-size: 16px;
  margin-bottom: 0px;
}
/* line 74, ../sass/layout/_blog-details.scss */
.comments-area a {
  color: #131230;
}
/* line 77, ../sass/layout/_blog-details.scss */
.comments-area .comment-list {
  padding-bottom: 48px;
}
/* line 79, ../sass/layout/_blog-details.scss */
.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}
/* line 82, ../sass/layout/_blog-details.scss */
.comments-area .comment-list.left-padding {
  padding-left: 25px;
}
@media (max-width: 413px) {
  /* line 87, ../sass/layout/_blog-details.scss */
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  /* line 90, ../sass/layout/_blog-details.scss */
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  /* line 93, ../sass/layout/_blog-details.scss */
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}
/* line 99, ../sass/layout/_blog-details.scss */
.comments-area .thumb {
  margin-right: 20px;
}
/* line 102, ../sass/layout/_blog-details.scss */
.comments-area .date {
  font-size: 13px;
  color: #cccccc;
  margin-bottom: 13px;
}
/* line 107, ../sass/layout/_blog-details.scss */
.comments-area .comment {
  color: #777777;
  margin-bottom: 0px;
}
/* line 111, ../sass/layout/_blog-details.scss */
.comments-area .btn-reply {
  background-color: #fff;
  color: #131230;
  border: 1px solid #eee;
  padding: 5px 18px;
  font-size: 12px;
  display: block;
  font-weight: 600;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 120, ../sass/layout/_blog-details.scss */
.comments-area .btn-reply:hover {
  background-color: #ffb606;
  color: #ffffff !important;
}

/* line 127, ../sass/layout/_blog-details.scss */
.comment-form {
  background: #fafaff;
  text-align: center;
  border: 1px solid #eee;
  padding: 47px 30px 43px;
  margin-top: 50px;
  margin-bottom: 40px;
}
/* line 134, ../sass/layout/_blog-details.scss */
.comment-form h4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #131230;
}
/* line 141, ../sass/layout/_blog-details.scss */
.comment-form .name {
  padding-left: 0px;
}
@media (max-width: 767px) {
  /* line 141, ../sass/layout/_blog-details.scss */
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}
/* line 148, ../sass/layout/_blog-details.scss */
.comment-form .email {
  padding-right: 0px;
}
@media (max-width: 991px) {
  /* line 148, ../sass/layout/_blog-details.scss */
  .comment-form .email {
    padding-left: 0px;
  }
}
/* line 154, ../sass/layout/_blog-details.scss */
.comment-form .form-control {
  padding: 8px 20px;
  background: #fff;
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  border: 1px solid transparent;
}
/* line 163, ../sass/layout/_blog-details.scss */
.comment-form .form-control:focus {
  box-shadow: none;
  border: 1px solid #eee;
}
/* line 169, ../sass/layout/_blog-details.scss */
.comment-form textarea.form-control {
  height: 140px;
  resize: none;
}
/* line 174, ../sass/layout/_blog-details.scss */
.comment-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #777;
}
/* line 179, ../sass/layout/_blog-details.scss */
.comment-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #777;
}
/* line 184, ../sass/layout/_blog-details.scss */
.comment-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  color: #777;
}
/* line 189, ../sass/layout/_blog-details.scss */
.comment-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #777;
}

/* 18. Contact */
/* line 2, ../sass/layout/_contact.scss */
.footer-area.footer {
  background: #131230;
}
/* line 4, ../sass/layout/_contact.scss */
.footer-area.footer h5,
.footer-area.footer p {
  color: #ffffff;
}
/* line 9, ../sass/layout/_contact.scss */
.footer-area.footer .footer-copyright span {
  color: #ffffff;
}

/* line 15, ../sass/layout/_contact.scss */
#mapBox {
  width: 100%;
  height: 420px;
  overflow: hidden;
}

/* line 22, ../sass/layout/_contact.scss */
.info-text h5 {
  text-transform: inherit;
}

/* line 28, ../sass/layout/_contact.scss */
.into-icon i {
  font-size: 20px;
  color: #ffb606;
  margin-right: 20px;
}

/* line 37, ../sass/layout/_contact.scss */
.contact-form form .left,
.commentform-area form .left {
  width: 48%;
  float: left;
  overflow: hidden;
  margin-right: 4%;
}
@media (max-width: 575.98px) {
  /* line 37, ../sass/layout/_contact.scss */
  .contact-form form .left,
  .commentform-area form .left {
    width: 100%;
    float: none;
  }
}
/* line 46, ../sass/layout/_contact.scss */
.contact-form form .left input,
.commentform-area form .left input {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 12px 20px;
  margin-bottom: 20px;
}
/* line 53, ../sass/layout/_contact.scss */
.contact-form form .right,
.commentform-area form .right {
  width: 48%;
  overflow: hidden;
}
@media (max-width: 575.98px) {
  /* line 53, ../sass/layout/_contact.scss */
  .contact-form form .right,
  .commentform-area form .right {
    width: 100%;
    float: none;
  }
}
/* line 60, ../sass/layout/_contact.scss */
.contact-form form .right textarea,
.commentform-area form .right textarea {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 12px 20px;
}
/* line 66, ../sass/layout/_contact.scss */
.contact-form form button,
.commentform-area form button {
  margin-top: 20px;
  float: right;
}
@media (max-width: 575.98px) {
  /* line 66, ../sass/layout/_contact.scss */
  .contact-form form button,
  .commentform-area form button {
    float: left;
  }
}

/* 21. Elements */
/* line 2, ../sass/layout/_elements.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 5, ../sass/layout/_elements.scss */
.mb-30 {
  margin-bottom: 30px;
}

/* line 9, ../sass/layout/_elements.scss */
.sample-text-area {
  padding: 100px 0px;
}
/* line 11, ../sass/layout/_elements.scss */
.sample-text-area .title_color {
  margin-bottom: 30px;
}
/* line 14, ../sass/layout/_elements.scss */
.sample-text-area p {
  line-height: 26px;
}
/* line 16, ../sass/layout/_elements.scss */
.sample-text-area p b {
  font-weight: bold;
  color: #ffb606;
}
/* line 20, ../sass/layout/_elements.scss */
.sample-text-area p i {
  color: #ffb606;
  font-style: italic;
}
/* line 24, ../sass/layout/_elements.scss */
.sample-text-area p sup {
  color: #ffb606;
  font-style: italic;
}
/* line 28, ../sass/layout/_elements.scss */
.sample-text-area p sub {
  color: #ffb606;
  font-style: italic;
}
/* line 32, ../sass/layout/_elements.scss */
.sample-text-area p del {
  color: #ffb606;
}
/* line 35, ../sass/layout/_elements.scss */
.sample-text-area p u {
  color: #ffb606;
}

/*============== End Elements Area css ================*/
/*==============Elements Button Area css ================*/
/* line 45, ../sass/layout/_elements.scss */
.elements_button .title_color {
  margin-bottom: 30px;
  color: #131230;
}

/* line 50, ../sass/layout/_elements.scss */
.title_color {
  color: #131230;
}

/* line 53, ../sass/layout/_elements.scss */
.button-group-area {
  margin-top: 15px;
}
/* line 55, ../sass/layout/_elements.scss */
.button-group-area:nth-child(odd) {
  margin-top: 40px;
}
/* line 58, ../sass/layout/_elements.scss */
.button-group-area:first-child {
  margin-top: 0px;
}
/* line 61, ../sass/layout/_elements.scss */
.button-group-area .theme_btn {
  margin-right: 10px;
}
/* line 64, ../sass/layout/_elements.scss */
.button-group-area .white_btn {
  margin-right: 10px;
}
/* line 67, ../sass/layout/_elements.scss */
.button-group-area .link {
  text-decoration: underline;
  color: #131230;
  background: transparent;
}
/* line 71, ../sass/layout/_elements.scss */
.button-group-area .link:hover {
  color: #fff;
}
/* line 75, ../sass/layout/_elements.scss */
.button-group-area .disable {
  background: transparent;
  color: #007bff;
  cursor: not-allowed;
}
/* line 79, ../sass/layout/_elements.scss */
.button-group-area .disable:before {
  display: none;
}

/* line 84, ../sass/layout/_elements.scss */
.primary {
  background: #52c5fd;
}
/* line 86, ../sass/layout/_elements.scss */
.primary:before {
  background: #2faae6;
}

/* line 90, ../sass/layout/_elements.scss */
.success {
  background: #4cd3e3;
}
/* line 92, ../sass/layout/_elements.scss */
.success:before {
  background: #2ebccd;
}

/* line 96, ../sass/layout/_elements.scss */
.info {
  background: #38a4ff;
}
/* line 98, ../sass/layout/_elements.scss */
.info:before {
  background: #298cdf;
}

/* line 102, ../sass/layout/_elements.scss */
.warning {
  background: #f4e700;
}
/* line 104, ../sass/layout/_elements.scss */
.warning:before {
  background: #e1d608;
}

/* line 108, ../sass/layout/_elements.scss */
.danger {
  background: #f54940;
}
/* line 110, ../sass/layout/_elements.scss */
.danger:before {
  background: #e13b33;
}

/* line 117, ../sass/layout/_elements.scss */
.primary-border {
  background: transparent;
  border: 1px solid #52c5fd;
  color: #52c5fd;
}
/* line 121, ../sass/layout/_elements.scss */
.primary-border:before {
  background: #52c5fd;
}

/* line 125, ../sass/layout/_elements.scss */
.success-border {
  background: transparent;
  border: 1px solid #4cd3e3;
  color: #4cd3e3;
}
/* line 129, ../sass/layout/_elements.scss */
.success-border:before {
  background: #4cd3e3;
}

/* line 133, ../sass/layout/_elements.scss */
.info-border {
  background: transparent;
  border: 1px solid #38a4ff;
  color: #38a4ff;
}
/* line 137, ../sass/layout/_elements.scss */
.info-border:before {
  background: #38a4ff;
}

/* line 141, ../sass/layout/_elements.scss */
.warning-border {
  background: #fff;
  border: 1px solid #f4e700;
  color: #f4e700;
}
/* line 145, ../sass/layout/_elements.scss */
.warning-border:before {
  background: #f4e700;
}

/* line 149, ../sass/layout/_elements.scss */
.danger-border {
  background: transparent;
  border: 1px solid #f54940;
  color: #f54940;
}
/* line 153, ../sass/layout/_elements.scss */
.danger-border:before {
  background: #f54940;
}

/* line 157, ../sass/layout/_elements.scss */
.link-border {
  background: transparent;
  border: 1px solid #ffb606;
  color: #ffb606;
}
/* line 161, ../sass/layout/_elements.scss */
.link-border:before {
  background: #ffb606;
}

/* line 165, ../sass/layout/_elements.scss */
.radius {
  border-radius: 3px;
}

/* line 168, ../sass/layout/_elements.scss */
.circle {
  border-radius: 20px;
}

/* line 172, ../sass/layout/_elements.scss */
.arrow span {
  padding-left: 5px;
}

/* line 176, ../sass/layout/_elements.scss */
.e-large {
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 181, ../sass/layout/_elements.scss */
.large {
  line-height: 45px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 186, ../sass/layout/_elements.scss */
.medium {
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 191, ../sass/layout/_elements.scss */
.small {
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 196, ../sass/layout/_elements.scss */
.general {
  line-height: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*==============End Elements Button Area css ================*/
/* =================================== */
/*  Elements Page Styles
/* =================================== */
/*---------- Start Elements Page -------------*/
/* line 213, ../sass/layout/_elements.scss */
.generic-banner {
  margin-top: 60px;
  text-align: center;
}

/* line 218, ../sass/layout/_elements.scss */
.generic-banner .height {
  height: 600px;
}

@media (max-width: 767.98px) {
  /* line 223, ../sass/layout/_elements.scss */
  .generic-banner .height {
    height: 400px;
  }
}
/* line 228, ../sass/layout/_elements.scss */
.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  /* line 234, ../sass/layout/_elements.scss */
  .generic-banner .generic-banner-content h2 br {
    display: none;
  }
}
/* line 239, ../sass/layout/_elements.scss */
.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  /* line 245, ../sass/layout/_elements.scss */
  .generic-banner .generic-banner-content p br {
    display: none;
  }
}
/* line 250, ../sass/layout/_elements.scss */
.generic-content h1 {
  font-weight: 600;
}

/* line 254, ../sass/layout/_elements.scss */
.about-generic-area {
  background: #fff;
}

/* line 258, ../sass/layout/_elements.scss */
.about-generic-area p {
  margin-bottom: 20px;
}

/* line 262, ../sass/layout/_elements.scss */
.white-bg {
  background: #fff;
}

/* line 266, ../sass/layout/_elements.scss */
.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee;
}

/* line 271, ../sass/layout/_elements.scss */
.switch-wrap {
  margin-bottom: 10px;
}

/* line 275, ../sass/layout/_elements.scss */
.switch-wrap p {
  margin: 0;
}

/*---------- End Elements Page -------------*/
/* line 282, ../sass/layout/_elements.scss */
.sample-text-area {
  padding: 100px 0 70px 0;
}

/* line 286, ../sass/layout/_elements.scss */
.sample-text {
  margin-bottom: 0;
}

/* line 290, ../sass/layout/_elements.scss */
.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

/* line 295, ../sass/layout/_elements.scss */
.typo-list {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  /* line 300, ../sass/layout/_elements.scss */
  .typo-sec {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  /* line 306, ../sass/layout/_elements.scss */
  .element-wrap {
    margin-top: 30px;
  }
}
/* line 311, ../sass/layout/_elements.scss */
b, sup, sub, u, del {
  color: #f8b600;
}

/* line 315, ../sass/layout/_elements.scss */
h1 {
  font-size: 36px;
}

/* line 319, ../sass/layout/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 323, ../sass/layout/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 327, ../sass/layout/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 331, ../sass/layout/_elements.scss */
h5 {
  font-size: 16px;
}

/* line 335, ../sass/layout/_elements.scss */
h6 {
  font-size: 14px;
}

/* line 341, ../sass/layout/_elements.scss */
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777;
}

/* line 348, ../sass/layout/_elements.scss */
.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

/* line 353, ../sass/layout/_elements.scss */
.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

/* line 358, ../sass/layout/_elements.scss */
.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

/* line 362, ../sass/layout/_elements.scss */
.circle {
  border-radius: 20px;
}

/* line 366, ../sass/layout/_elements.scss */
.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* line 382, ../sass/layout/_elements.scss */
.genric-btn:focus {
  outline: none;
}

/* line 386, ../sass/layout/_elements.scss */
.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px;
}

/* line 391, ../sass/layout/_elements.scss */
.genric-btn.large {
  line-height: 45px;
}

/* line 395, ../sass/layout/_elements.scss */
.genric-btn.medium {
  line-height: 30px;
}

/* line 399, ../sass/layout/_elements.scss */
.genric-btn.small {
  line-height: 25px;
}

/* line 403, ../sass/layout/_elements.scss */
.genric-btn.radius {
  border-radius: 3px;
}

/* line 407, ../sass/layout/_elements.scss */
.genric-btn.circle {
  border-radius: 20px;
}

/* line 411, ../sass/layout/_elements.scss */
.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 420, ../sass/layout/_elements.scss */
.genric-btn.arrow span {
  margin-left: 10px;
}

/* line 424, ../sass/layout/_elements.scss */
.genric-btn.default {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

/* line 430, ../sass/layout/_elements.scss */
.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff;
}

/* line 435, ../sass/layout/_elements.scss */
.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff;
}

/* line 440, ../sass/layout/_elements.scss */
.genric-btn.default-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

/* line 446, ../sass/layout/_elements.scss */
.genric-btn.primary {
  color: #fff;
  background: #f8b600;
  border: 1px solid transparent;
}

/* line 452, ../sass/layout/_elements.scss */
.genric-btn.primary:hover {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff;
}

/* line 458, ../sass/layout/_elements.scss */
.genric-btn.primary-border {
  color: #f8b600;
  border: 1px solid #f8b600;
  background: #fff;
}

/* line 464, ../sass/layout/_elements.scss */
.genric-btn.primary-border:hover {
  color: #fff;
  background: #f8b600;
  border: 1px solid transparent;
}

/* line 470, ../sass/layout/_elements.scss */
.genric-btn.success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

/* line 476, ../sass/layout/_elements.scss */
.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

/* line 482, ../sass/layout/_elements.scss */
.genric-btn.success-border {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

/* line 488, ../sass/layout/_elements.scss */
.genric-btn.success-border:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

/* line 494, ../sass/layout/_elements.scss */
.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

/* line 500, ../sass/layout/_elements.scss */
.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

/* line 506, ../sass/layout/_elements.scss */
.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

/* line 512, ../sass/layout/_elements.scss */
.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

/* line 518, ../sass/layout/_elements.scss */
.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

/* line 524, ../sass/layout/_elements.scss */
.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

/* line 530, ../sass/layout/_elements.scss */
.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

/* line 536, ../sass/layout/_elements.scss */
.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

/* line 542, ../sass/layout/_elements.scss */
.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

/* line 548, ../sass/layout/_elements.scss */
.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

/* line 554, ../sass/layout/_elements.scss */
.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

/* line 560, ../sass/layout/_elements.scss */
.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

/* line 566, ../sass/layout/_elements.scss */
.genric-btn.link {
  color: #222222;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}

/* line 573, ../sass/layout/_elements.scss */
.genric-btn.link:hover {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
}

/* line 579, ../sass/layout/_elements.scss */
.genric-btn.link-border {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline;
}

/* line 586, ../sass/layout/_elements.scss */
.genric-btn.link-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

/* line 592, ../sass/layout/_elements.scss */
.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
}

/* line 599, ../sass/layout/_elements.scss */
.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #fff;
  border-left: 2px solid #ffb606;
}

@media (max-width: 991px) {
  /* line 606, ../sass/layout/_elements.scss */
  .progress-table-wrap {
    overflow-x: scroll;
  }
}
/* line 611, ../sass/layout/_elements.scss */
.progress-table {
  background: #fff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}

/* line 617, ../sass/layout/_elements.scss */
.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}

/* line 622, ../sass/layout/_elements.scss */
.progress-table .country {
  width: 28.07%;
}

/* line 626, ../sass/layout/_elements.scss */
.progress-table .visit {
  width: 19.74%;
}

/* line 630, ../sass/layout/_elements.scss */
.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}

/* line 635, ../sass/layout/_elements.scss */
.progress-table .table-head {
  display: flex;
}

/* line 639, ../sass/layout/_elements.scss */
.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 646, ../sass/layout/_elements.scss */
.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex;
}

/* line 652, ../sass/layout/_elements.scss */
.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
  display: flex;
  align-items: center;
}

/* line 657, ../sass/layout/_elements.scss */
.progress-table .table-row .country img {
  margin-right: 15px;
}

/* line 661, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}

/* line 667, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}

/* line 672, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}

/* line 676, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}

/* line 680, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}

/* line 684, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}

/* line 688, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}

/* line 692, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}

/* line 696, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}

/* line 700, ../sass/layout/_elements.scss */
.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}

/* line 704, ../sass/layout/_elements.scss */
.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* line 716, ../sass/layout/_elements.scss */
.single-gallery-image:hover {
  opacity: .8;
}

/* line 720, ../sass/layout/_elements.scss */
.list-style {
  width: 14px;
  height: 14px;
}

/* line 725, ../sass/layout/_elements.scss */
.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

/* line 731, ../sass/layout/_elements.scss */
.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #f8b600;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

/* line 743, ../sass/layout/_elements.scss */
.ordered-list {
  margin-left: 30px;
}

/* line 747, ../sass/layout/_elements.scss */
.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 754, ../sass/layout/_elements.scss */
.ordered-list li span {
  font-weight: 300;
  color: #777777;
}

/* line 759, ../sass/layout/_elements.scss */
.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 767, ../sass/layout/_elements.scss */
.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777;
}

/* line 772, ../sass/layout/_elements.scss */
.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #f8b600;
  font-weight: 500;
  line-height: 1.82em !important;
}

/* line 780, ../sass/layout/_elements.scss */
.ordered-list-roman li span {
  font-weight: 300;
  color: #777777;
}

/* line 785, ../sass/layout/_elements.scss */
.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 795, ../sass/layout/_elements.scss */
.single-input:focus {
  outline: none;
}

/* line 799, ../sass/layout/_elements.scss */
.input-group-icon {
  position: relative;
}

/* line 803, ../sass/layout/_elements.scss */
.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}

/* line 811, ../sass/layout/_elements.scss */
.input-group-icon .icon i {
  color: #797979;
}

/* line 815, ../sass/layout/_elements.scss */
.input-group-icon .single-input {
  padding-left: 45px;
}

/* line 819, ../sass/layout/_elements.scss */
.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}

/* line 831, ../sass/layout/_elements.scss */
.single-textarea:focus {
  outline: none;
}

/* line 835, ../sass/layout/_elements.scss */
.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 845, ../sass/layout/_elements.scss */
.single-input-primary:focus {
  outline: none;
  border: 1px solid #f8b600;
}

/* line 850, ../sass/layout/_elements.scss */
.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 860, ../sass/layout/_elements.scss */
.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}

/* line 865, ../sass/layout/_elements.scss */
.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
}

/* line 875, ../sass/layout/_elements.scss */
.single-input-secondary:focus {
  outline: none;
  border: 1px solid #f09359;
}

/* line 880, ../sass/layout/_elements.scss */
.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 889, ../sass/layout/_elements.scss */
.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* line 901, ../sass/layout/_elements.scss */
.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f8b600;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 917, ../sass/layout/_elements.scss */
.default-switch input:checked + label {
  left: 19px;
}

/* line 921, ../sass/layout/_elements.scss */
.single-element-widget {
  margin-bottom: 30px;
}

/* line 925, ../sass/layout/_elements.scss */
.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 934, ../sass/layout/_elements.scss */
.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 945, ../sass/layout/_elements.scss */
.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 955, ../sass/layout/_elements.scss */
.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 973, ../sass/layout/_elements.scss */
.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 990, ../sass/layout/_elements.scss */
.primary-switch input:checked + label:after {
  left: 19px;
}

/* line 994, ../sass/layout/_elements.scss */
.primary-switch input:checked + label:before {
  background: #f8b600;
}

/* line 998, ../sass/layout/_elements.scss */
.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 1007, ../sass/layout/_elements.scss */
.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 1018, ../sass/layout/_elements.scss */
.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* line 1028, ../sass/layout/_elements.scss */
.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

/* line 1046, ../sass/layout/_elements.scss */
.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 1063, ../sass/layout/_elements.scss */
.confirm-switch input:checked + label:after {
  left: 19px;
}

/* line 1067, ../sass/layout/_elements.scss */
.confirm-switch input:checked + label:before {
  background: #4cd3e3;
}

/* line 1071, ../sass/layout/_elements.scss */
.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 1080, ../sass/layout/_elements.scss */
.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 1091, ../sass/layout/_elements.scss */
.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 1104, ../sass/layout/_elements.scss */
.single-defination h4 {
  color: #131230;
}

/* line 1109, ../sass/layout/_elements.scss */
.primary-checkbox input:checked + label {
  background: url(../images/elements/primary-check.png) no-repeat center center/cover;
  border: none;
}

/* line 1114, ../sass/layout/_elements.scss */
.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 1123, ../sass/layout/_elements.scss */
.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 1134, ../sass/layout/_elements.scss */
.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 1147, ../sass/layout/_elements.scss */
.confirm-checkbox input:checked + label {
  background: url(../images/elements/success-check.png) no-repeat center center/cover;
  border: none;
}

/* line 1152, ../sass/layout/_elements.scss */
.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 1161, ../sass/layout/_elements.scss */
.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 1172, ../sass/layout/_elements.scss */
.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 1185, ../sass/layout/_elements.scss */
.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

/* line 1190, ../sass/layout/_elements.scss */
.disabled-checkbox input:checked + label {
  background: url(../images/elements/disabled-check.png) no-repeat center center/cover;
  border: none;
}

/* line 1195, ../sass/layout/_elements.scss */
.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 1204, ../sass/layout/_elements.scss */
.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 1215, ../sass/layout/_elements.scss */
.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 1228, ../sass/layout/_elements.scss */
.primary-radio input:checked + label {
  background: url(../images/elements/primary-radio.png) no-repeat center center/cover;
  border: none;
}

/* line 1233, ../sass/layout/_elements.scss */
.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 1242, ../sass/layout/_elements.scss */
.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 1253, ../sass/layout/_elements.scss */
.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 1266, ../sass/layout/_elements.scss */
.confirm-radio input:checked + label {
  background: url(../images/elements/success-radio.png) no-repeat center center/cover;
  border: none;
}

/* line 1271, ../sass/layout/_elements.scss */
.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

/* line 1280, ../sass/layout/_elements.scss */
.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/* line 1291, ../sass/layout/_elements.scss */
.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

/* line 1304, ../sass/layout/_elements.scss */
.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

/* line 1308, ../sass/layout/_elements.scss */
.unordered-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* line 1313, ../sass/layout/_elements.scss */
.ordered-list {
  list-style: none;
  padding: 0px;
}

/* line 1317, ../sass/layout/_elements.scss */
.disabled-radio input:checked + label {
  background: url(../images/elements/disabled-radio.png) no-repeat center center/cover;
  border: none;
}

/* line 1322, ../sass/layout/_elements.scss */
.default-select {
  height: 40px;
}

/* line 1326, ../sass/layout/_elements.scss */
.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #fff;
  padding-left: 20px;
  padding-right: 40px;
}

/* line 1335, ../sass/layout/_elements.scss */
.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

/* line 1344, ../sass/layout/_elements.scss */
.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}

/* line 1356, ../sass/layout/_elements.scss */
.default-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent;
}

/* line 1361, ../sass/layout/_elements.scss */
.default-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent;
}

/* line 1366, ../sass/layout/_elements.scss */
.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}

/* line 1371, ../sass/layout/_elements.scss */
.default-select .nice-select::after {
  right: 20px;
}

@media (max-width: 991px) {
  /* line 1376, ../sass/layout/_elements.scss */
  .left-align-p p {
    margin-top: 20px;
  }
}
/* line 1381, ../sass/layout/_elements.scss */
.form-select {
  height: 40px;
  width: 100%;
}

/* line 1386, ../sass/layout/_elements.scss */
.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #f9f9ff !important;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}

/* line 1396, ../sass/layout/_elements.scss */
.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

/* line 1404, ../sass/layout/_elements.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 1407, ../sass/layout/_elements.scss */
.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px;
}

/* line 1419, ../sass/layout/_elements.scss */
.form-select .nice-select .list .option.selected {
  color: #f8b600;
  background: transparent;
}

/* line 1424, ../sass/layout/_elements.scss */
.form-select .nice-select .list .option:hover {
  color: #f8b600;
  background: transparent;
}

/* line 1429, ../sass/layout/_elements.scss */
.form-select .current {
  margin-right: 50px;
  font-weight: 300;
}

/* line 1434, ../sass/layout/_elements.scss */
.form-select .nice-select::after {
  right: 20px;
}

/* line 1440, ../sass/layout/_elements.scss */
.page_link a {
  color: #ffffff;
}

/* 15. Button */
/* line 2, ../sass/module/_btn.scss */
.template-btn {
  color: #131230;
  background: #ffb606;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 13, ../sass/module/_btn.scss */
.template-btn:hover {
  color: #131230;
  background: transparent;
  border: 1px solid #ffb606;
}

/* line 20, ../sass/module/_btn.scss */
.template-btn2:hover {
  color: #ffb606;
}

/* line 24, ../sass/module/_btn.scss */
.template-btn3 {
  color: #131230;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
/* line 32, ../sass/module/_btn.scss */
.template-btn3 span {
  position: absolute;
  top: 0;
  left: 110%;
  color: #131230;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 39, ../sass/module/_btn.scss */
.template-btn3:hover {
  color: #131230;
}
/* line 41, ../sass/module/_btn.scss */
.template-btn3:hover span {
  color: #ffb606;
  left: 115%;
}

/* 16. Form */
/* line 3, ../sass/module/_form.scss */
#id-meals, #id-restaurants {
  display: block !important;
}

/* line 7, ../sass/module/_form.scss */
.nice-select {
  display: none;
}

/* 17. Other */
/* line 2, ../sass/module/_other.scss */
.section-padding {
  padding: 130px 0;
}

/* line 5, ../sass/module/_other.scss */
.section-padding2 {
  padding-top: 130px;
}

/* line 8, ../sass/module/_other.scss */
.section-padding3 {
  padding-bottom: 130px;
}

/* line 11, ../sass/module/_other.scss */
.section-padding4 {
  padding: 130px 0 200px;
}

/* line 14, ../sass/module/_other.scss */
.section-top {
  margin-bottom: 80px;
}
/* line 16, ../sass/module/_other.scss */
.section-top .style-change {
  color: #ffb606;
  font-style: italic;
}

/* line 21, ../sass/module/_other.scss */
.section-top2 {
  margin-bottom: 80px;
}
/* line 23, ../sass/module/_other.scss */
.section-top2 span {
  color: #ffb606;
}
